---
- name: Subway Surfers
  shell: adb shell
  bindings:
    - key: KEY_LEFT
      desc: Swipe left from center
      cmd: input swipe 960 540 800 540 100 &
    - key: KEY_RIGHT
      desc: Swipe right from center
      cmd: input swipe 800 540 960 540 100 &
    - key: KEY_UP
      desc: Swipe up from center
      cmd: input swipe 960 540 960 400 100 &
    - key: KEY_DOWN
      desc: Swipe down from center
      cmd: input swipe 960 400 960 540 100 &
    - key: KEY_SPACE
      desc: Double tap at center
      useShell: false
      cmd: input tap 960 540 & sleep 0.1; input tap 960 540 &

- name: Alto's Odyssey
  shell: adb shell
  bindings:
    - key: KEY_SPACE
      event: pressed
      desc: Press on center
      cmd: input motionevent DOWN 960 540 &
    - key: KEY_SPACE
      event: released
      desc: Release from center
      cmd: input motionevent UP 960 540 &
    - key: KEY_UP
      desc: Activate wingsuit
      cmd: input tap 50 540 &

- name: Test Preset
  bindings:
    - key: KEY_LEFT
      desc: Test left
      cmd: kdialog --msgbox 'left' &
    - key: KEY_RIGHT
      desc: Test right
      cmd: kdialog --msgbox 'right' &
